.prase1{border:solid; background-color:red;
height:70px; width:70px; float:left;}

.prase2{border:solid; background-color:black;
height:70px; width:70px; float:left;}

.prase3{border:solid; background-color:yellow;
height:70px; width:70px; float:left;}

.prase4{border:solid; background-color:green;
height:70px; width:70px; float:left;}

#di{
height:70px; width:500px;}

#di1{
height:90px; width:500px;}